.new-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    padding: 20px;
    width: 100%; /* Ensure it fills available width */
  }
  
  .create-product-form {
    width: 100%;
    max-width: 800px; /* Limit the form's maximum width */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between form items */
  }
  
  .form-item {
    width: 100%;
  }
  
  .create-product-form-button {
    width: 100%; /* Make button stretch to full width */
  }
  
  @media (max-width: 600px) {
    .create-product-form {
      width: 100%;
      max-width: 100%; /* Full width on small screens */
      padding: 10px; /* Padding for smaller screens */
    }
  }
  